header {
    color: white;
}
h1 {
    font-size: 1.6rem;
    font-weight: 300;
}
h2 {
    font-size: 1.4rem;
    font-weight: 400;
}
h3 {
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
p {
    font-weight: 300;
}
b {
    font-weight: 400;
}
sup {
    font-size: .7rem;
    top: -.6rem;
    font-weight: 400;
}