.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
}
.traffic-nav li {
    font-size: 1.1rem;
    font-weight: 400;
    display: block;
    padding: .8rem;
    
}
.time-selected {
    color: white;
    border-radius: 30px;
    background: #81C98F;
}
.mobile-users .widget-container {
    width: 70%;
    margin: 0 auto;
}