.new-members-container {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.new-members-container:nth-of-type(4) {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.new-members-pic {
    border-radius: 50%;
    width: 5rem;
}
.new-members-container p,
.new-members-container a {
    font-weight: 400;
}
.new-members-text a {
    text-decoration: none;
    color: #7477BF;
}