.recent-activity-container {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    text-align: center;
}
.recent-activity-container:nth-of-type(4) {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.recent-activty-pic {
    border-radius: 50%;
    width: 5rem;
}
.arrow-btn {
    margin-left: auto;
    font-size: 2rem;
    color: #7477BF;
    display: none;
}