* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
header {
    color: white;
}
h1 {
    font-size: 1.6rem;
}
b {
    font-weight: 400;
}
sup {
    font-size: .7rem;
    top: -.6rem;
    font-weight: 400;
}