.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 1rem;
    &-label {
        cursor: pointer;
        padding: .5rem;
    }
}

.radio {
    display: none;
}

.radio:checked + .traffic-nav-label {
    background: var(--green);
    color: white;
    border-radius: 25px;
}

.mobile-users .widget-container {
    width: 70%;
    margin: 0 auto;
}