.traffic-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem 0;
    & li {
        display: block;
        padding: .8rem;
    }
}

.time-selected {
    color: var(--white);
    border-radius: 30px;
    background: var(--green);
}

.mobile-users .widget-container {
    width: 70%;
    margin: 0 auto;
}