@media only screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr; 
        grid-template-rows: auto 1fr; 
        grid-template-areas: 
            "header header"
            "nav main"; 
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(9, auto);
        grid-template-areas: 
            "pages pages"
            "alerts alerts"
            "traffic traffic"
            "daily mobile"
            "social social"
            "new-members new-members"
            "recent-activity recent-activity"
            "message-user message-user"
            "settings settings";
    }
    nav {
        flex-direction: column;
        justify-content: flex-start;
        padding: .5rem .7rem;
    }
    nav svg {
        margin: .5rem 0;
    }
    .pages {
        grid-area: pages;
    }
    .alerts {
        grid-area: alerts;
    }
    .traffic {
        grid-area: traffic;
    }
    .traffic-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .traffic-nav {
        justify-content: flex-end;
    }
    .daily {
        grid-area: daily;
        border-right: 1px solid lightgray;
    }
    .mobile-users {
        grid-area: mobile;
    }
    .social {
        grid-area: social;
    }
    .social-flex {
        display: flex;
        justify-content: space-between;
    }
    .social-card {
        width: 32%;
    }
    .new-members {
        grid-area: new-members;
    }
    .new-members-container,
    .recent-activity-container {
        display: flex;
        justify-content: flex-start;
        text-align: left;
        align-items: center;
    }
    .new-members-pic {
        margin-right: 1rem;
    }
    .date {
        margin-left: auto;
    }
    .recent-activity {
        grid-area: recent-activity;
    }
    .recent-activity-container img {
        margin-right: 1rem;
    }
    .recent-activity-text {
        display: flex;
        flex-direction: column;
    }
    .arrow-btn {
        display: inline;
    }
    .message-user {
        grid-area: message-user;
    }
    .settings {
        grid-area: settings;
    }
    .toggle-switch {
        justify-content: flex-start;
    }
    .toggle-switch p {
        flex-basis: 25%;
    }
}
@media only screen and (min-width: 1024px) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(7, auto);
        grid-template-areas: 
            "pages pages"
            "alerts alerts"
            "traffic traffic"
            "daily mobile"
            "social social"
            "new-members recent-activity"
            "message-user settings";
    }
    .new-members,
    .message-user {
        border-right: 1px solid lightgray;
    }
    .toggle-switch p {
        flex-basis: 45%;
    }
    .select::after {
        margin-top: 4rem;
    }
    select {
        margin-top: 4rem;
    }
}