.message-user-form {
    display: flex;
    flex-direction: column;
    position: relative;
    & input,
    & textarea {
        margin-bottom: 1rem;
        background: var(--white-smoke);
        &::placeholder {
            color: var(--light-gray);
        }
    }
    & input,
    & textarea,
    & button {
        padding: 1rem;
        border-radius: 6px;
        outline: 0;
        border: 1px solid var(--light-gray);
    }
    & button {
        background: var(--purple);
        color: var(--white);
        text-transform: uppercase;
    }
}

.autocomplete {
    display: none;
    position: absolute;
    top: 3rem;
    left: 0;
    padding: .5rem;
    background: var(--purple);
    border: 3px solid var(--dark-purple);
    border-radius: 6px;
    color: var(--white);
    & ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    & li {
        margin-bottom: .5rem;
        list-style: none;
        border-bottom: 1px solid var(--dark-purple);
        padding-bottom: .5rem;
    }
    & li:last-of-type {
        border: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}