.social-card {
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 1rem 0;
    padding: 1rem;
}
.social-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7477BF;
    border-radius: 50%;
    height: 4.8rem;
    width: 4.8rem;
    margin-right: 1rem;
}
.social-logo {
    display: block;
    height: 2.4rem;
    fill: white;
}
.social-network {
    font-size: 1.1rem;
    font-weight: 400;
    color: #7477BF;
    margin: 0;
}
.social-stats {
    font-size: 2.5rem;
    font-weight: 400;
    color: gray;
    margin: 0;
}